In [2]:
pip install numpy

Collecting numpy
  Downloading numpy-2.4.0-cp314-cp314-macosx_14_0_x86_64.whl.metadata (6.6 kB)
Downloading numpy-2.4.0-cp314-cp314-macosx_14_0_x86_64.whl (6.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.5/6.5 MB 4.3 MB/s  0:00:01 eta 0:00:01
Installing collected packages: numpy
  WARNING: The scripts f2py and numpy-config are installed in '/Library/Frameworks/Python.framework/Versions/3.14/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-2.4.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-macosx_10_13_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/user/Library/Python/3.14/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/user/Library/Python/3.14/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-macosx_10_13_x86_64.whl (11.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.5/11.5 MB 4.8 MB/s  0:00:02 eta 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.3

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import numpy as np

# Mengatur agar hasil random tetap sama setiap kali dijalankan
np.random.seed(42)

def generate_dummy_data(n_rows=1000):
    data = {
        'age': np.random.randint(17, 90, size=n_rows),
        'workclass': np.random.choice(['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked'], n_rows),
        'fnlwgt': np.random.randint(20000, 1500000, size=n_rows),
        'education': np.random.choice(['Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool'], n_rows),
        'education-num': np.random.randint(1, 17, size=n_rows),
        'marital-status': np.random.choice(['Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'], n_rows),
        'occupation': np.random.choice(['Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces'], n_rows),
        'relationship': np.random.choice(['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'], n_rows),
        'race': np.random.choice(['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'], n_rows),
        'sex': np.random.choice(['Male', 'Female'], n_rows),
        'capital-gain': np.random.randint(0, 100000, size=n_rows),
        'capital-loss': np.random.randint(0, 5000, size=n_rows),
        'hours-per-week': np.random.randint(1, 99, size=n_rows),
        'native-country': np.random.choice(['United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'India', 'Japan', 'Mexico', 'Philippines'], n_rows),
        'salary': np.random.choice(['<=50K', '>50K'], n_rows)
    }
    
    return pd.DataFrame(data)

# Membuat dataframe
df_dummy = generate_dummy_data(1000)

# Menampilkan 5 data teratas
print(df_dummy.head())

# Simpan ke CSV jika ingin digunakan di file lain
df_dummy.to_csv('adult.data.csv', index=False)

   age     workclass   fnlwgt   education  education-num  \
0   68     Local-gov   949065        12th              4
1   31   Without-pay  1044939     HS-grad              8
2   88   Without-pay  1265709        11th              6
3   77  Self-emp-inc   894829  Assoc-acdm              4
4   37  Never-worked  1363862   Assoc-voc              4

          marital-status       occupation    relationship                race  \
0  Married-spouse-absent            Sales  Other-relative  Asian-Pac-Islander
1     Married-civ-spouse     Adm-clerical       Own-child  Amer-Indian-Eskimo
2                Widowed   Prof-specialty   Not-in-family               Other
3              Separated     Tech-support         Husband  Amer-Indian-Eskimo
4     Married-civ-spouse  Priv-house-serv            Wife               Other

      sex  capital-gain  capital-loss  hours-per-week native-country salary
0  Female         53019           680              35          India   >50K
1    Male         76154           972              15    Philippines  <=50K
2    Male          7373          2846              67         Canada   >50K
3  Female         35281          2132              93  United-States  <=50K
4    Male         20187          2463              30        Germany   >50K

In [7]:
# Contoh tes cepat: Berapa rata-rata usia pria di data dummy ini?
avg_men = df_dummy[df_dummy['sex'] == 'Male']['age'].mean()
print(f"Rata-rata usia pria: {avg_men:.1f}")

Rata-rata usia pria: 51.9

### calculate_demographic_data

In [20]:
race_count = df_dummy['race'].value_counts()
print(race_count)

race
Asian-Pac-Islander    229
Black                 207
Other                 205
Amer-Indian-Eskimo    181
White                 178
Name: count, dtype: int64

In [21]:
average_age_men = round(df_dummy[df_dummy['sex'] == 'Male']['age'].mean(), 1)
print(average_age_men)

51.9

In [22]:
percentage_bachelors = round(len(df_dummy[df_dummy['education'] == 'Bachelors']) / len(df_dummy) * 100, 1)
print(percentage_bachelors)

6.7

In [23]:
higher_education = df_dummy[df_dummy['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round((higher_education['salary'] == '>50K').mean() * 100, 1)
print(higher_education_rich)

54.6

In [24]:
min_work_hours = df_dummy['hours-per-week'].min()
print(min_work_hours)

1

In [25]:
num_min_workers = df_dummy[df_dummy['hours-per-week'] == min_work_hours]
rich_percentage = round((num_min_workers['salary'] == '>50K').mean() * 100, 1)
print(rich_percentage)

40.0

In [17]:
# Hitung total orang per negara
country_count = df_dummy['native-country'].value_counts()
# Hitung orang bergaji >50K per negara
country_rich_count = df_dummy[df_dummy['salary'] == '>50K']['native-country'].value_counts()

# Hitung persentasenya
highest_earning_country_percentage = round((country_rich_count / country_count * 100).max(), 1)
highest_earning_country = (country_rich_count / country_count * 100).idxmax()

In [26]:
top_IN_occupation = df_dummy[(df_dummy['native-country'] == 'India') & (df_dummy['salary'] == '>50K')]['occupation'].value_counts().idxmax()
print(top_IN_occupation)

Prof-specialty